.sidebar {
  

  .sidebar-inner {
    border: solid 10px brown;
    margin: 40px 10px;
    min-width: 400px;
    padding: 40px 20px;
  }

  select {
    background: #705944;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1em;
    padding: .5em;
    text-transform: capitalize;
    width: 320px;
    
  }

  select {
  }
}